#main_wrapper {
	position: absolute;
	top: 20px;
	left: 0px;
	width:1022px;
	height: 800px;
}


#deafult_header {
	
	position: absolute;
	left: 0px;
	top: 40px;
	width: 816px;
	height: 158px;
}

#default_body {

	position: absolute;
	left: 430px;
	top: 0px;
	width: 1000px;
	font-family: Arial;
	font-size: 14px;

}

#default_body2 {

	position: absolute;
	left: 430px;
	top: 10px;
	width: 400px;
	font-family: Arial;
	font-size: 14px;

}

#default_footer {
	position: absolute;
	left: 0px;
	top: 600px;
	width: 800px;
}

#navigation_bg {
	position: absolute;
	left: 0px;
	top: 150px;
	width: 160px;
	height: 400px;

}

#navigation_table {
	position: absolute;
	left: 0px;
	top: 70px;
	width: 160px;
	height: 400px;

	font-family: Arial;
	font-size: 16px;
	color: #FFFFFF;
}

a:link {
	font-family: Arial;
	font-weight: bold;
	font-size: 16px;
	color: #000000;
	text-decoration: none;

}

a:hover {
	font-family: Arial;
	font-weight: bold;
	font-size: 16px;
	color: #CCCCCC;
	text-decoration: none;

}

a:visited {
	font-family: Arial;
	font-weight: bold;
	font-size: 16px;
	color: #000000;
	text-decoration: none;

}

#vertical_spacer {
	position: absolute;
	left: 220px;
	top: 200px;
	width: 20px;
	height: 400px ;
}

#login_button {
	position: absolute;
	top: 0px;
	left: 710px;
	width:120px;
}

#login_tologin_button {
	position: absolute;
	top: 10px;
	left: 400px;
	width:200px;
	height: 100px;
}

#administration_button {
	position: absolute;
	top: 0px;
	left: 0px;

}

#big_login_button {
	position: absolute;
	top: 0px;
	left: 0px;
}

#login_form {
	position: absolute;
	top: 20px;
	left: 0px;
}

#forgot_form {
	position: absolute;
	top: 90px;
	left: 300px;
}

#request_form {
	position: absolute;
	top: 90px;
	left: 300px;
}

#data_utilities_button {
	position: absolute;
	top: 68px;
	left: 0px;

}

#forgot_password_button {
	position: absolute;
	top: 50px;
	left: 0px;
}

#pictures_button {
	position: absolute;
	top: 33px;
	left: 0px;
}

#request_credentials_button {
	position: absolute;
	top: 100px;
	left: 0px;
}

#parts_search_button {
	position: absolute;
	top: 100px;
	left: 0px;
}

#toolbox_button {
	position: absolute;
	top: 132px;
	left: 0px;
}

#login_ajax_wait1 {
	position: absolute;
	top: 30px;
	left: 110px;
}

#login_ajax_wait2 {
	position: absolute;
	top: 105px;
	left: 630px;
}

.head1 {
	font-size: 24px;
	color: #000000;
	font-family: Verdana;
	text-decoration: bold;
}

#content_box1 {
	position: absolute;
	display: none;
	top: 245px;
	left: 290px;
	width: 600px;
	height: 600px;
	font-family: verdana;
	font-size: 14px;
	z-index:10;
}

#content_box2 {
	position: absolute;
	display: none;
	top: 245px;
	left: 290px;
	width: 600px;
	height: 600px;
	font-family: verdana;
	font-size: 14px;
	z-index:10;
}

#content_box3 {
	position: absolute;
	display: none;
	top: 245px;
	left: 290px;
	width: 600px;
	height: 600px;
	font-family: verdana;
	font-size: 14px;
	z-index:10;
}

#content_box4 {
	position: absolute;
	display: none;
	top: 245px;
	left: 290px;
	width: 600px;
	height: 600px;
	font-family: verdana;
	font-size: 14px;
	z-index:10;
}

#tardisnowloading {
	position: absolute;
	top: 325px;
	left: 480px;
	width: 140px;
	height: 180px;
	font-family: Verdana;
	font-size: 16px;
	z-index: 12;
	display: none;
}

#status {
	position: absolute;
	top: 110px;
	left: 40px;
	display: none;
	width: 760px;
	z-index: 13;
	font-family: Verdana;
	font-size: 16px;
}

#registry_menu {
	position: absolute;
	top: 33px;
	left: 590px;
}

#admin_menu {
	position: absolute;
	top: 0px;
	left: 590px;
}

#workflow_button {
	position: absolute;
	top: 0px;
	left: 0px;
}

#build_registry_button {
	position: absolute;
	top: 0px;
	left: 160px;
}

#adduser_button {
	position: absolute;
	top: 0px;
	left: 0px;
}

#edituser_button {
	position: absolute;
	top: 0px;
	left: 165px;
}